
/*=====================ОСТАВИТЬ ЗАЯВКУ форма 1*/

.backgroundApplication{
    background: url(../../../img_service/background1.jpg), rgba(10, 110, 110, 0.9) no-repeat;
    background-blend-mode: color;
    background-size: cover;
    width: 100%;
    padding: 80px 18% 80px 18%;
    height: auto;
    border: 1px solid transparent;
}

.titleSendApplication {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    max-height: 80px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 0 0 44px 0;
}

#form{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(60px, auto));
    gap: 24px;

}

.form_name:focus::-webkit-input-placeholder, .form_phone:focus::-webkit-input-placeholder, .form_email:focus::-webkit-input-placeholder,.form_comment:focus::-webkit-input-placeholder,
.form_name_2:focus::-webkit-input-placeholder, .form_phone_2:focus::-webkit-input-placeholder, .form_email_2:focus::-webkit-input-placeholder,.form_comment_2:focus::-webkit-input-placeholder {
    color: transparent
}

.form_name:focus::-moz-placeholder, .form_phone:focus::-moz-placeholder, .form_email:focus::-moz-placeholder,.form_comment:focus::-moz-placeholder,
.form_name_2:focus::-moz-placeholder, .form_phone_2:focus::-moz-placeholder, .form_email_2:focus::-moz-placeholder,.form_comment_2:focus::-moz-placeholder {
    color: transparent
}

.form_name:focus:-moz-placeholder, .form_phone:focus:-moz-placeholder, .form_email:focus:-moz-placeholder,.form_comment:focus:-moz-placeholder,
.form_name_2:focus:-moz-placeholder, .form_phone_2:focus:-moz-placeholder, .form_email_2:focus:-moz-placeholder,.form_comment_2:focus:-moz-placeholder {
    color: transparent
}
.form_name:focus:-ms-input-placeholder, .form_phone:focus:-ms-input-placeholder, .form_email:focus:-ms-input-placeholder,.form_comment:focus:-ms-input-placeholder,
.form_name_2:focus:-ms-input-placeholder, .form_phone_2:focus:-ms-input-placeholder, .form_email_2:focus:-ms-input-placeholder,.form_comment_2:focus:-ms-input-placeholder {
    color: transparent
}

.form_name, .form_phone, .form_email, .form_comment, #sendFile, .form_name_2, .form_phone_2, .form_email_2, .form_comment_2, #sendFile_2 {
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    padding-left: 25px;
    padding-right: 25px;

}
/**/


.form_name {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}
.form_phone {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.form_email {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}
.form_comment {
    max-height: 144px;
    resize: none;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 13;
    overflow-y: scroll; /* прокрутка по вертикали */
}

.form_comment::-webkit-scrollbar, .form_comment_2::-webkit-scrollbar {
    width: 7px;
    /*padding-right: 8px;*/
}
.form_comment::-webkit-scrollbar-track, .form_comment_2::-webkit-scrollbar-track {
    background: transparent;
    border-top-right-radius: 8px;
    border-top-left-radius: 0;
}
.form_comment::-webkit-scrollbar-thumb, .form_comment_2::-webkit-scrollbar-thumb {
    background: #DFDFDF;
    border-radius: 8px;
    width: 6px;
    height: 30%;
}

/*.form_comment::-webkit-scrollbar-track {*/
/*    background: #DFDFDF;        !* цвет дорожки *!*/
/*}*/



/*валидация полей НАЧАЛО*/

/*-----------------------СТИЛИ ДЛЯ НЕЗАПОЛНЕННЫХ ПОЛЕЙ ПОЛЕЙ*/

.form_name._error, .form_phone._error, .form_email._error, .form_comment._error{
    background-color: #FFEBE8;
}

.form_name._red:focus::-webkit-input-placeholder, .form_phone._red:focus::-webkit-input-placeholder, .form_email._red:focus::-webkit-input-placeholder,.form_comment._red:focus::-webkit-input-placeholder {
    color: transparent;
}

/*Chrome 57 и Firefox 51*/

.form_name._red::placeholder, .form_phone._red::placeholder, .form_email._red::placeholder, .form_comment._red::placeholder{
    color: #921202;
}
/*Firefox новые версии*/
.form_name._red::-moz-placeholder, .form_phone._red::-moz-placeholder, .form_email._red::-moz-placeholder, .form_comment._red::-moz-placeholder{
    color: #921202;
}
/*Internet Explorer*/
.form_name._red:-ms-input-placeholder, .form_phone._red:-ms-input-placeholder, .form_email._red:-ms-input-placeholder, .form_comment._red:-ms-input-placeholder{
    color: #921202;
}
/*Microsoft Edge*/
.form_name._red::-ms-input-placeholder, .form_phone._red::-ms-input-placeholder, .form_email._red::-ms-input-placeholder, .form_comment._red::-ms-input-placeholder{
    color: #921202;
}
/*Chrome, Opera и Safari*/
.form_name._red::-webkit-input-placeholder, .form_phone._red::-webkit-input-placeholder, .form_email._red::-webkit-input-placeholder, .form_comment._red::-webkit-input-placeholder{
    color: #921202;
}
/*Firefox с 4 по 19 версии*/
.form_name._red-moz-placeholder, .form_phone._red-moz-placeholder, .form_email._red-moz-placeholder, .form_comment._red-moz-placeholder{
    color: #921202;
}

/*валидация полей КОНЕЦ*/



#container_format {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 13;
    padding: 0;

}
input {
    border-radius: 8px;
    height: 60px;
}
textarea {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#recapture {
    background-color: orange;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

#explanation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 11;

}

#requiredFields, #agree {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.policy {
    text-decoration: none;
    color: white;
}

#submitApplication {
    text-transform: uppercase;
    background-color: #D53D0F;
    border-radius: 8px;
    height: 100%;
    width: 180px;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 11;
    grid-column-end: 13;
    border: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

#submitApplication:hover {
    background-color: #f45627;
}


.hide {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/**/
#container_format {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
    width: 447px;
    gap: 10px;
}
/**/
.send {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#label_form {
    text-transform: uppercase;
    display: flex;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    width: 188px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;

}
/**/
#formats {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    width: auto;
    height: auto;
    line-height: 24px;
    color: #ACACAC;
}
.file_preview {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.file {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: white;
    display: flex;
    gap: 7px;
    align-items: center;
    flex-wrap: wrap;
}



/*============================УДАЧНАЯ ОТПРАВКА ФОРМЫ*/

#successApplication {
    display: flex;
    width: 607px;
    column-gap: 24px;
    margin-top: 137px;
}

.circleLogo {
    background-color: #D53D0F;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    margin-top: 10px;
}

#successText {
    display: flex;
    flex-direction: column;
    height: 124px;
    width: 519px;
    justify-content: space-between;
    color: #FFFFFF;
}

#thank {
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 700;
    height: 48px;
    line-height: 48px;

}

#thankText {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    height: 26px;
    line-height: 26px;
}

#refresh {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
}
