<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Сбрасываем стандартные стили../style/pages/page-home/normalize.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/pages/page-home/normalize.css') }}">
    <!-- Анимация -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/aos.css') }}">
    <!-- Стили страницы -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/pages/page-home/index.css') }}">
    <!-- Шрифты -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    
    <title>Pickle</title>

</head>
<body>

    <div class="intro">
        <img src="{{ url_for('static', filename='img/glav.jpg') }}" alt="img" class="intro__img">
        <div class="burger">
            <div class="nav-burger">
                <span></span>
            </div>
        </div>

        <div class="intro__inner">

            <h1 class="intro__title">Супер крутые лифтовые системы</h1>
            <h2 class="intro__subtitle">«Link me UP»</h2>
            <a href="#services" class="intro__arrow"><img src="{{ url_for('static', filename='img/scroll-down.svg') }}" alt=""></a>
            
            <button class="button" data-scroll="#application">Кнопочка</button>

            <header class="header">

                <nav class="nav">
                    <a href="#services" class="nav__link">Услуги</a>
                    <a href="#equipment" class="nav__link">Оборудование</a>
                    <a href="#advantages" class="nav__link">Преимущества</a>
                    <a href="#about" class="nav__link">О нас</a>
                    <a href="#work" class="nav__link">Наши клиенты</a>
                    <a href="#questions" class="nav__link">FAQ</a>
                </nav>

            </header>

        </div>
    </div>


    <section class="services" id="services">
        <img id="tabImg1" src="{{ url_for('static', filename='img/berkeley-communications-WEDDt-u3q3o-unsplash.jpg') }}" alt="img" class="services__img">
        <img id="tabImg2" src="{{ url_for('static', filename='img/hack-capital-uv5_bsypFUM-unsplash.jpg') }}" alt="img" class="services__img services__img-active">
        <img id="tabImg3" src="{{ url_for('static', filename='img/berkeley-communications-WEDDt-u3q3o-unsplash.jpg') }}" alt="img" class="services__img">
        <img id="tabImg4" src="{{ url_for('static', filename='img/hack-capital-uv5_bsypFUM-unsplash.jpg') }}" alt="img" class="services__img">
        <img id="tabImg5" src="{{ url_for('static', filename='img/berkeley-communications-WEDDt-u3q3o-unsplash.jpg') }}" alt="img" class="services__img">
        <img id="tabImg6" src="{{ url_for('static', filename='img/hack-capital-uv5_bsypFUM-unsplash.jpg') }}" alt="img" class="services__img">
        <img id="tabImg7" src="{{ url_for('static', filename='img/berkeley-communications-WEDDt-u3q3o-unsplash.jpg') }}" alt="img" class="services__img">
        <img id="tabImg8" src="{{ url_for('static', filename='mg/hack-capital-uv5_bsypFUM-unsplash.jpg') }}i" alt="img" class="services__img">
        <img id="tabImg9" src="{{ url_for('static', filename='img/berkeley-communications-WEDDt-u3q3o-unsplash.jpg') }}" alt="img" class="services__img">

        <ul class="wrapper">

            <li class="wrapper__item">
                <div data-tab="#tab1" data-img="#tabImg1" class="wrapper__title">Техническое обслуживание</div>
            </li>

            <li class="wrapper__item">
                <div data-tab="#tab2" data-img="#tabImg2" class="wrapper__title wrapper__title-active">Диспетчерский мониторинг
                    <p>лифтов и эскалаторов</p>
                </div>
            </li>

            <li class="wrapper__item">
                <div data-tab="#tab3" data-img="#tabImg3" class="wrapper__title">Работы капитального характера</div>
            </li>

            <li class="wrapper__item">
                <div data-tab="#tab4" data-img="#tabImg4" class="wrapper__title">Подбор и поставка запасных частей</div>
            </li>

            <li class="wrapper__item">
                <div data-tab="#tab5" data-img="#tabImg5" class="wrapper__title">Технический аудит</div>
            </li>

            <li class="wrapper__item">
                <div data-tab="#tab6" data-img="#tabImg6" class="wrapper__title">Круглосуточная аварийная служба</div>
            </li>

            <li class="wrapper__item">
                <div data-tab="#tab7" data-img="#tabImg7" class="wrapper__title">Программирование систем управления</div>
            </li>

            <li class="wrapper__item">
                <div data-tab="#tab8" data-img="#tabImg8" class="wrapper__title">Контроль доступа</div>
            </li>

            <li class="wrapper__item">
                <div data-tab="#tab9" data-img="#tabImg9" class="wrapper__title">Изготовление лифтовых запасных частей</div>
            </li>

        </ul>

        <div class="container">р
            <div class="services__inner">
                <h2 class="services__title">Услуги</h2>

                <div id="tab1" class="services__text">Выполнение данного перечня работ в полном объёме производится компанией «КОМБО ЛИФТ СЕРВИС», также нами разработана уникальная система контроля качества за исполнением.</div> 
                <div id="tab2" class="services__text services__text-active">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet exercitationem, debitis provident dignissimos tempora deleniti, quaerat sapiente fugit saepe accusamus et, sed magnam nostrum nulla maiores ab cum hic consequatur?</div>
                <div id="tab3" class="services__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet exercitationem, debitis provident dignissimos tempora deleniti, quaerat sapiente fugit saepe accusamus et, sed magnam nostrum nulla maiores ab cum hic consequatur?</div>
                <div id="tab4" class="services__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab reiciendis pariatur illo earum fugiat beatae eligendi alias, vero nesciunt exercitationem dolor molestiae. Eveniet alias sint architecto? Libero quaerat officiis neque?</div>
                <div id="tab5" class="services__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae enim reiciendis ea, quaerat impedit assumenda laborum, totam, alias excepturi quia sunt quos maxime id dolores modi quam quod dolorum saepe.</div>
                <div id="tab6" class="services__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat quo rerum quos delectus numquam odio sed qui, blanditiis, minus distinctio reiciendis neque recusandae omnis? Voluptate eligendi fugiat illo nisi ratione.</div>
                <div id="tab7" class="services__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet exercitationem, debitis provident dignissimos tempora deleniti, quaerat sapiente fugit saepe accusamus et, sed magnam nostrum nulla maiores ab cum hic consequatur?</div>
                <div id="tab8" class="services__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet exercitationem, debitis provident dignissimos tempora deleniti, quaerat sapiente fugit saepe accusamus et, sed magnam nostrum nulla maiores ab cum hic consequatur?</div>
                <div id="tab9" class="services__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet exercitationem, debitis provident dignissimos tempora deleniti, quaerat sapiente fugit saepe accusamus et, sed magnam nostrum nulla maiores ab cum hic consequatur?</div>

            
            </div>
        </div>
    </section>

    <section class="equipment" id="equipment">

        <ul class="equipment__wrapper">

            <li class="equipment__item">
                <div data-tab="#eqtab_1"  eqdata-img="#eqtabImg1" class="equipment__titles">Пассажирские лифты</div>
            </li>

            <li class="equipment__item">
                <div data-tab="#eqtab_2" eqdata-img="#eqtabImg2" class="equipment__titles equipment__titles-active">Грузопассажирские лифты</div>
            </li>

            <li class="equipment__item">
                <div data-tab="#eqtab_3" eqdata-img="#eqtabImg3" class="equipment__titles">Грузовые лифты</div>
            </li>

            <li class="equipment__item">
                <div data-tab="#eqtab_4" eqdata-img="#eqtabImg4" class="equipment__titles">Коттеджные лифты</div>
            </li>

            <li class="equipment__item">
                <div data-tab="#eqtab_5" eqdata-img="#eqtabImg5" class="equipment__titles">Технический аудит</div>
            </li>

            <li class="equipment__item">
                <div data-tab="#eqtab_6" eqdata-img="#eqtabImg6" class="equipment__titles">Панорамные лифты</div>
            </li>

            <li class="equipment__item">
                <div data-tab="#eqtab_7" eqdata-img="#eqtabImg7" class="equipment__titles">Скоростные лифты</div>
            </li>

            <li class="equipment__item">
                <div data-tab="#eqtab_8" eqdata-img="#eqtabImg8" class="equipment__titles">Контроль доступа</div>
            </li>

            <li class="equipment__item">
                <div data-tab="#eqtab_9" eqdata-img="#eqtabImg9" class="equipment__titles">Лифтовые инновации</div>
            </li>

        </ul>

        <img id="eqtabImg1" src="{{ url_for('static', filename='img/berkeley-communications-WEDDt-u3q3o-unsplash.jpg') }}" alt="img" class="equipment__img">
        <img id="eqtabImg2" src="{{ url_for('static', filename='img/hack-capital-uv5_bsypFUM-unsplash.jpg') }}" alt="img" class="equipment__img equipment__img-active">
        <img id="eqtabImg3" src="{{ url_for('static', filename='img/berkeley-communications-WEDDt-u3q3o-unsplash.jpg') }}" alt="img" class="equipment__img">
        <img id="eqtabImg4" src="{{ url_for('static', filename='img/hack-capital-uv5_bsypFUM-unsplash.jpg') }}" alt="img" class="equipment__img">
        <img id="eqtabImg5" src="{{ url_for('static', filename='img/berkeley-communications-WEDDt-u3q3o-unsplash.jpg') }}" alt="img" class="equipment__img">
        <img id="eqtabImg6" src="{{ url_for('static', filename='img/hack-capital-uv5_bsypFUM-unsplash.jpg') }}" alt="img" class="equipment__img">
        <img id="eqtabImg7" src="{{ url_for('static', filename='img/berkeley-communications-WEDDt-u3q3o-unsplash.jpg') }}" alt="img" class="equipment__img">
        <img id="eqtabImg8" src="{{ url_for('static', filename='img/hack-capital-uv5_bsypFUM-unsplash.jpg') }}" alt="img" class="equipment__img">
        <img id="eqtabImg9" src="{{ url_for('static', filename='img/berkeley-communications-WEDDt-u3q3o-unsplash.jpg') }}" alt="img" class="equipment__img">

        <div class="container">
            <div class="equipment__inner">
                <h2 class="equipment__title">Поставка лифтового оборудования</h2>

                <div id="eqtab_1" class="equipment__text">Выполнение данного перечня работ в полном объёме производится компанией «КОМБО ЛИФТ СЕРВИС», также нами разработана уникальная система контроля качества за исполнением.</div>
                <div id="eqtab_2" class="equipment__text equipment__text-active">Выполнение данного перечня работ в полном объёме производится компанией «КОМБО ЛИФТ СЕРВИС», также нами разработана уникальная система контроля качества за исполнением.</div>
                <div id="eqtab_3" class="equipment__text">Выполнение данного перечня работ в полном объёме производится компанией «КОМБО ЛИФТ СЕРВИС», также нами разработана уникальная система контроля качества за исполнением.</div>
                <div id="eqtab_4" class="equipment__text">Выполнение данного перечня работ в полном объёме производится компанией «КОМБО ЛИФТ СЕРВИС», также нами разработана уникальная система контроля качества за исполнением.</div>
                <div id="eqtab_5" class="equipment__text">Выполнение данного перечня работ в полном объёме производится компанией «КОМБО ЛИФТ СЕРВИС», также нами разработана уникальная система контроля качества за исполнением.</div>
                <div id="eqtab_6" class="equipment__text">Выполнение данного перечня работ в полном объёме производится компанией «КОМБО ЛИФТ СЕРВИС», также нами разработана уникальная система контроля качества за исполнением.</div>
                <div id="eqtab_7" class="equipment__text">Выполнение данного перечня работ в полном объёме производится компанией «КОМБО ЛИФТ СЕРВИС», также нами разработана уникальная система контроля качества за исполнением.</div>
                <div id="eqtab_8" class="equipment__text">Выполнение данного перечня работ в полном объёме производится компанией «КОМБО ЛИФТ СЕРВИС», также нами разработана уникальная система контроля качества за исполнением.</div>
                <div id="eqtab_9" class="equipment__text">Выполнение данного перечня работ в полном объёме производится компанией «КОМБО ЛИФТ СЕРВИС», также нами разработана уникальная система контроля качества за исполнением.</div>
                
            </div>
        </div>
    </section>

    <section class="advantages" id="advantages">
       <img class="advantages__img" src="{{ url_for('static', filename='img/advant.jpg') }}" alt="photo">
        <div class="container">
            <div class="advantages__inner">
                <h2 class="advantages__title">Преимущества</h2>
                <div class="advantages__block">
                    <div class="advantages__item">
                        <img src="http://via.placeholder.com/70x70" alt="picha">
                        <div class="advantages__content">
                            <div class="advantages__headers">Большой опыт</div>
                            <div class="advantages__text">Более 15 лет мы добросовестно работаем в сфере технического обслуживания лифтов и эскалаторов</div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <img src="http://via.placeholder.com/70x70" alt="picha">
                        <div class="advantages__content">
                            <div class="advantages__headers">Высококлассный персонал</div>
                            <div class="advantages__text">Все наши специалисты имеют высшее техническое образование и опыт работы не менее 10 лет</div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <img src="http://via.placeholder.com/70x70" alt="picha">
                        <div class="advantages__content">
                            <div class="advantages__headers">Современное оборудование</div>
                            <div class="advantages__text">Мы работаем на оборудовании нового поколения, а также постоянно изучаем новые технологии</div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <img src="http://via.placeholder.com/70x70" alt="picha">
                        <div class="advantages__content">
                            <div class="advantages__headers">Собственная лаборатория</div>
                            <div class="advantages__text">Все наши специалисты имеют высшее техническое образование и опыт работы не менее 10 лет</div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <img src="http://via.placeholder.com/70x70" alt="picha">
                        <div class="advantages__content">
                            <div class="advantages__headers">Сотрудничество с производителями из других стран</div>
                            <div class="advantages__text">Мы можем запрашивать техническую документацию на оборудование</div>
                        </div>
                    </div>

                    <div class="advantages__item">
                        <img src="http://via.placeholder.com/70x70" alt="picha">
                        <div class="advantages__content">
                            <div class="advantages__headers">Адекватная стоимость</div>
                            <div class="advantages__text">Мы не обманываем наших клиентов и выставляем объективные цены</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="about" id="about">
        <div class="container">
            <div class="about__inner">
                <h2 class="about__title">О компании</h2>
                <h3 class="about__suptitle">Мы любим свое дело</h3>
                <div class="about__text">Нашей задачей было разработать систему контроля таким образом, чтобы мы могли точно понимать сколько оборудование, механизм или конкретный технический узел могут безопасно работать. Благодаря современным приборам, накопленному опыту и программному обеспечению мы можем выявить неисправность на ранней стадии и предотвратить аварию</div>
                <div class="about__block">
                    <div class="about__item">
                        <div class="about__num">15</div>
                        <div class="about__txt">лет на рынке</div>
                    </div>

                    <div class="about__item">
                        <div class="about__num">65</div>
                        <div class="about__txt">успешных проектов</div>
                    </div>

                    <div class="about__item">
                        <div class="about__num">65</div>
                        <div class="about__txt">успешных проектов</div>
                    </div>

                    <div class="about__item">
                        <div class="about__num">15</div>
                        <div class="about__txt">лет на рынке</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="application" id="application">
        <div class="application__img"></div>
        <div class="container">
            <div class="application__inner">
                <h2 class="application__subtitle">Оставьте заявку</h2>

                <form class="super_form">
                    <div class="form__inner">
                        <div class="form__left">
                            <div class="form__item"><input type="text" class="userName" placeholder="Олег" name="userName"></div>
                            <div class="form__item"><input type="tel" class="userTel" placeholder="+7 (499) 423-35-66" name="userTel"></div>
                            <div class="form__item"><input type="email" class="userMail" placeholder="oleg_kuznetsov@gmail.com" name="userMail"></div>
                        </div>

                                                <div class="form__right">
                            <textarea  name="userCom" placeholder="Добрый день, меня зовут Олег. В первую очередь хотелось бы ознакомить Вас с моим видением проекта. Я прилагаю к прикрепленным файлам всю имеющуюся у нас документацию, включая: инструкцию по эксплуатации данной модели лифта, дополнительно схему силового механизма в формате джипег. Дайте пожалуйста знать, как только ознакомитесь. По указанному номеру спросите Олега. В первую очередь хотелось бы ознакомить Вас с моим видением проекта. Я прилагаю к прикрепленным файлам всю документацию: инструкцию по эксплуатации  лифта, и т.д. Дайте пожалуйста знать, как только ознакомитесь. По указанному номеру спросите Олега. Жду ответа!"></textarea>
                            <label>
                                <p>
                                    <img src="{{ url_for('static', filename='img/attach.svg"') }} alt="picha">
                                    <span>Прикрепить файл <span>JPG, PNG, PDF, DOC, XLS не более 5 Мб</span></span>
                                    <input multiple type="file" class="userDoc" name="userDoc" accept=".jpg, .jpeg, .png">
                                </p>
                            </label>
                        </div>
                    </div>
                <div class="application__bottom">
                    <div class="application__bottom-text">
                        <p>* — поля, обязательные для заполнения</p>
                        <p>Нажимая кнопку "Отправить", Вы принимаете условия 
                           <a href="#"> Политики конфиденциальности</a></p>
                    </div>
                    <button class="button">Отправить</button>
                </div>
                </form>

            </div>
        </div>
    </section>


    <section class="work" id="work">
        <div class="container">
            <div class="work__inner">
                <h2 class="work__title">Наши объекты</h2>
                <h3 class="work__suptitle">Галерея выполненных работ</h3>
                <div class="work__block">
                    <div class="work__item">
                        <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="" class="work__img">
                        <div class="work__text">Мосфильм (корпус 1)</div>
                    </div>

                    <div class="work__item">
                        <img src="{{ url_for('static', filename='img/2.jpg') }}" alt="" class="work__img">
                        <div class="work__text">Мосфильм (корпус 1)</div>
                    </div>

                    <div class="work__item">
                        <img src="{{ url_for('static', filename='img/3.jpg') }}" alt="" class="work__img">
                        <div class="work__text">Мосфильм (корпус 1)</div>
                    </div>

                    <div class="work__item">
                        <img src="{{ url_for('static', filename='img/4.jpg') }}" alt="" class="work__img">
                        <div class="work__text">Мосфильм (корпус 1)</div>
                    </div>

                    <div class="work__item">
                        <img src="{{ url_for('static', filename='img/5.jpg') }}" alt="" class="work__img">
                        <div class="work__text">Мосфильм (корпус 1)</div>
                    </div>

                    <div class="work__item">
                        <img src="{{ url_for('static', filename='img/6.jpg') }}" alt="" class="work__img">
                        <div class="work__text">Мосфильм (корпус 1)</div>
                    </div>
                </div>
                <div class="work__center"><button class="button button-work">Еще</button></div>
            </div>
        </div>
    </section>

    <section class="questions" id="questions">
        <div class="questions__img"></div>
        <div class="container">
                <div class="questions__inner">
                    <div class="questions__title">Вопрос-ответ</div>
                    <div class="questions__subtitle">Часто задаваемые вопросы</div>
                    <div class="questions__block">
                        <div class="questions__headers">Обслуживание</div>
                        <div class="questions__content">
                            <div class="questions__item questions__item-active">
                                <div class="questions__text"><img src="http://via.placeholder.com/40x40" alt="picha" class="questions__pin">Более 15 лет вы добросовестно работаете в сфере технического обслуживания лифтов и эскалаторов?</div>
                                <div class="questions__answer questions__answer-active">Конечно, Вы абсолютно правы!</div>
                                <div class="questions__dagger"></div>
                            </div>
                            <div class="questions__item">
                                <div class="questions__text"><img src="http://via.placeholder.com/40x40" alt="picha" class="questions__pin">Более 15 лет мы добросовестно работаем в сфере?</div>
                                <div class="questions__answer">Конечно, Вы абсолютно правы!</div>
                                <div class="questions__dagger"></div>
                            </div>
                            <div class="questions__item">
                                <div class="questions__text"><img src="http://via.placeholder.com/40x40" alt="picha" class="questions__pin">Более 15 лет мы добросовестно работаем в сфере технического обслуживания лифтов и эскалаторов?</div>
                                <div class="questions__answer">Конечно, Вы абсолютно правы!</div>
                                <div class="questions__dagger"></div>
                            </div>
                            <div class="questions__item">
                                <div class="questions__text"><img src="http://via.placeholder.com/40x40" alt="picha" class="questions__pin">Более 15 лет мы добросовестно работаем в сфере?</div>
                                <div class="questions__answer">Конечно, Вы абсолютно правы!</div>
                                <div class="questions__dagger"></div>
                            </div>
                        </div>
                        <div class="questions__headers">Ремонт</div>
                        <div class="questions__content">
                            <div class="questions__item">
                                <div class="questions__text questions__text_active"><img src="http://via.placeholder.com/40x40" alt="picha" class="questions__pin">Более 15 лет вы добросовестно работаете в сфере технического обслуживания лифтов и эскалаторов?</div>
                                <div class="questions__answer">Конечно, Вы абсолютно правы!</div>
                                <div class="questions__dagger"></div>
                            </div>
                            <div class="questions__item">
                                <div class="questions__text questions__text_active"><img src="http://via.placeholder.com/40x40" alt="picha" class="questions__pin">Более 15 лет вы добросовестно работаете в сфере технического обслуживания лифтов и эскалаторов?</div>
                                <div class="questions__answer">Конечно, Вы абсолютно правы!</div>
                                <div class="questions__dagger"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>



    <footer class="footer" id="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__left">
                    <div class="footer__top">
                        <div class="footer__logo">
                            <div class="footer__text">Текст копирайта текст копирайта Текст копирайта © ООО Лифт, 2017-2021 г.</div>
                        </div>
                        <nav class="nav footer-nav">
                            <div class="nav__col">
                                <a href="#services" class="nav__link">Услуги</a>
                                <a href="#equipment" class="nav__link">Оборудование</a>
                                <a href="#advantages" class="nav__link">Преимущества</a>
                            </div>
                            <div class="nav__col">
                                <a href="#about" class="nav__link">О нас</a>
                                <a href="#work" class="nav__link">Наши клиенты</a>
                                <a href="#questions" class="nav__link">FAQ</a>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="footer__right">
                    <a href="#" class="footer__num"><div class="footer__num">8 (777) 777-77-77</div></a>
                    <a href="#" class="footer__email"><div class="footer__email">gg@wp.ez</div></a>
                    <div class="footer__social">
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>