.intro{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.intro__img {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    object-fit: cover;
}
.intro__logo img {
    display: inline-block;
    padding-bottom: 43px;
}

.intro__inner {
    max-width: 681px;
    text-align: center;
    z-index: 100;
}
.intro__title {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}
.intro__subtitle {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 40px;
}
.intro__arrow {
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
}
.intro__arrow img {
    display: inline-block;
}

/* MEDIA */

@media (max-width: 1024px) {
    .nav-burger {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 15px;
        height: 35px;
        display: block;
    }
    .nav-burger span, .nav-burger:after, .nav-burger:before{
        height: 2px;
        width: 100%;
        position: absolute;
        right: 0;
        background: #fff;
        margin: 0 auto;
    }
    .nav-burger span{
        top: 16px;
        width: 12px;
    }
    .nav-burger:after, .nav-burger:before{
        content: '';
    }
    .nav-burger:after{
        bottom: 10px;
        width: 13px;
    }
    .nav-burger:before{
        top: 8px;
    }
}

@media (max-width: 550px) {
    .intro__title {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
    }
    .intro__subtitle {
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 26px;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 40px;
        max-width: 340px;
        padding-left: 50px;
    }
}